
<div class="padding-md">

    <div class="panel panel-default table-responsive">
        <div class="panel-heading" style="min-height: 39px;">
					{{statistics.general.departmentName}}
            <span class="label label-info pull-right">{{courses.length}} קורסים</span>
        </div>
        <table class="table table-striped" id="responsiveTable">
            <thead>
            <tr>
                <th>קורס</th>
                <th>התקדמות</th>
                <th>סיימו</th>
                <th>בתהליך</th>
                <th>לא התחילו</th>
                <th>סטטוס</th>
            </tr>
			</thead>
            <tbody>
            <tr data-ng-repeat="course in courses">
                <td>{{course.course.coursename}}</td>
                <td>
                    <div class="progress progress-striped active" style="height:17px; margin:2px 0 0 0;">
                        <div class="progress-bar" style="width: {{course.completedPercent}}%">
                            <span class="sr-only" style="color: black;overflow: visible;clip: initial;">{{course.completedPercent}}%</span>
                        </div>
                    </div>
                </td>
                <td>{{course.ended}}</td><!--Completed-->
                <td>{{course.started}}</td><!--In Progress-->
                <td>{{course.employees-course.ended-course.started}}</td><!--Not Yet Started-->
                <td><a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#basicModal" data-ng-click="getEmployeesByCourse(course.course.courseid)">פירוט עובדים</a></td>
            </tr>
			</tbody>
        </table>
    </div><!-- /panel -->
</div><!-- /.padding-md -->
<!--Modal-->
<!--employees table-->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
                <h4 class="modal-title" id="myModalLabel">{{courseDetails.courseName}} - {{courseDetails.departmentName}}</h4>
            </div>
            <div class="modal-body">
                <!-- BEGIN MAIN CONTENT -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet box blue-hoki">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-globe"></i>פירוט עובדים
                                </div>
                                <div class="tools">
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover display" id="employeesTable" "">
                                    <thead>
                                    <tr>
                                        <th>מספר עובד</th>
                                        <th>שם</th>
                                        <th>מספר ניסיונות</th>
                                        <th>סטטוס</th>
                                    </tr>
					                </thead>
                                    <tbody>
                                                                                    <tr>
                                                                                    <td>Tiger Nixon</td>
                                                                                    <td>System Architect</td>
                                                                                    <td>Edinburgh</td>
                                                                                    <td>61</td>
                                                                                </tr>
                                    <tr data-ng-repeat="employee in employees">
                                        <td>{{employee.id}}</td>
                                        <td>{{employee.name}}</td>
                                        <td>{{employee.numAttempts}}</td>
                                        <td><span class="label label-success">{{employee.status}}</span></td>
                                    </tr>
					                </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
                <!-- END MAIN CONTENT -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--<script>
    $(document).ready(function () {
        $('#employeesTable').DataTable( {
        dom: 'T<"clear">lfrtip',
        tableTools: {
            "sSwfPath": "../../../assets/global/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
        }
    } );
    });
    
</script>-->


  
    
        <!--<table my-table="overrideOptions"
            aa-data="sampleProductCategories"
            ao-column-defs="columnDefs"
            fn-row-callback="myCallback" >
            <thead>
            <tr>
                <th style="width:150px">Category</th>
                <th style="width:250px">Name</th>
                <th style="width:100px">Price</th>
            </tr>
            </thead>
        </table>

       {{message}}-->
