<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
    <li>
        <a href="#">Home</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
		Dashboard
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="margin-top-10">

    
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PIE CHART PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">משתמשים פעילים</span>
                    </div>

                </div>
                <div class="portlet-body" style="padding-bottom: 20px;">
                    <div id="placeholder" class="graph" style="height:250px"></div>
                </div>
            </div> 
            <!-- END PIE CHART PORTLET-->
        </div>
    </div>
  
    <div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-green-haze hide"></i>
                    <span class="caption-subject font-green-haze bold uppercase">שימוש לפי מחלקות</span>
                </div>

            </div>
            <div class="portlet-body" style="padding-bottom: 20px;">
                <div id="course-chart" style="height:350px;">
                </div>
            </div>
        </div>

    </div>
</div>



    <div class="row">
        <!-- BEGIN PIE CHART PORTLET-->
        <div class="col-md-6 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">פעילות עובדים</span>
                    </div>
                </div>
                <div class="portlet-body" style="padding-bottom: 20px;">
                    <div id="pie_chart" class="chart"></div>
                </div>
            </div>
        </div>


        <!-- END PIE CHART PORTLET-->
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">עובדים מצטיינים</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                            <tr class="uppercase">
                                <th colspan="2">
    									שם מלא 
                                </th>
                                <th>
										מחלקה
                                </th>
                                <th>
										ציון
                                </th>
                            </tr>
							</thead>
                            <tr>
                                <td class="fit">
                                    <img class="user-pic" src="../../../assets/admin/layout4/img/avatar4.jpg">
                                </td>
                                <td>
                                    <a href="javascript:;" class="primary-link">אורי גרפי</a>
                                </td>
                                <td>
									 סחר
                                </td>
                                <td>
                                    <span class="bold font-green-haze">96.7</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="fit">
                                    <img class="user-pic" src="../../../assets/admin/layout4/img/avatar6.jpg">
                                </td>
                                <td>
                                    <a href="javascript:;" class="primary-link">שירי ז'ינו</a>
                                </td>
                                <td>
									שוק פרטי
                                </td>
                                
                                <td>
                                    <span class="bold font-green-haze">100</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="fit">
                                    <img class="user-pic" src="../../../assets/admin/layout4/img/avatar5.jpg">
                                </td>
                                <td>
                                    <a href="javascript:;" class="primary-link">שי אפנזר</a>
                                </td>
                                <td>
									מלוחים סיירת
                                </td>
                                <td>
                                    <span class="bold font-green-haze">95</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="fit">
                                    <img class="user-pic" src="../../../assets/admin/layout4/img/avatar7.jpg">
                                </td>
                                <td>
                                    <a href="javascript:;" class="primary-link">ירון אביגל</a>
                                </td>
                                <td>
									לקוחות גדולים
                                </td>
                                <td>
                                    <span class="bold font-green-haze">100</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="fit">
                                    <img class="user-pic" src="../../../assets/admin/layout4/img/user-icon.png">
                                </td>
                                <td>
                                    <a href="javascript:;" class="primary-link">דפני אושרי</a>
                                </td>
                                <td>
									סחר מקוצר
                                </td>
                                <td>
                                    <span class="bold font-green-haze">98</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="fit">
                                    <img class="user-pic" src="../../../assets/admin/layout4/img/avatar2.jpg">
                                </td>
                                <td>
                                    <a href="javascript:;" class="primary-link">עדי גמליאל</a>
                                </td>
                                <td>
									מכולות
                                </td>
                                <td>
                                    <span class="bold font-green-haze">97</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <!-- BEGIN REGIONAL STATS PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-green-haze"></i>
                        <span class="caption-subject font-green-haze bold uppercase">עדכוני מערכת</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                        <ul class="feeds">
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
												הוכנסו 4 קורסים חדשים
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
										מספר שניות
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success">
                                                    <i class="fa fa-bar-chart-o"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
													60% מכלל העובדים סיימו את המבחן
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
											20 דקות
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-danger">
                                                <i class="fa fa-user"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
												כלל מחלקת הפצה סיימה את המבחן
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
										20 דקות
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="fa fa-shopping-cart"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
												50% ממחלקת כספים סיימו את המבחן
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
										שעה
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-success">
                                                <i class="fa fa-user"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
												44 עובדים חדשים הוכנסו למערכת
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
										3 שעות
                                    </div>
                                </div>
                            </li>
                            <!--<li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-default">
                                                <i class="fa fa-bell-o"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
												Web server hardware needs to be upgraded.
                                                <span class="label label-sm label-default ">
												Overdue </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
										2 hours
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-default">
                                                    <i class="fa fa-briefcase"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
													IPO Report for year 2013 has been released.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
											20 mins
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
												You have 4 pending tasks.
                                                <span class="label label-sm label-warning ">
												Take action <i class="fa fa-share"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
										Just now
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-bar-chart-o"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
													Finance Report for year 2013 has been released.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
											20 mins
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-default">
                                                <i class="fa fa-user"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
												You have 5 pending membership that requires a quick review.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
										24 mins
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="fa fa-shopping-cart"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
												New order received with
                                                <span class="label label-sm label-success">
												Reference Number: DR23923 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
										30 mins
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-success">
                                                <i class="fa fa-user"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
												You have 5 pending membership that requires a quick review.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
										24 mins
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-warning">
                                                <i class="fa fa-bell-o"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
												Web server hardware needs to be upgraded.
                                                <span class="label label-sm label-default ">
												Overdue </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
										2 hours
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info">
                                                    <i class="fa fa-briefcase"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
													IPO Report for year 2013 has been released.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
											20 mins
                                        </div>
                                    </div>
                                </a>
                            </li>-->
                        </ul>
                    </div>
                    <div class="scroller-footer">
                        <div class="btn-arrow-link pull-right">
                            <a href="#"> </a>
                            <i class="icon-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END REGIONAL STATS PORTLET-->
        </div>
        <div class="col-md-6 col-sm-6">
            <!-- BEGIN PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze"></i>
                        <span class="caption-subject font-green-haze bold uppercase">פניות עובדים</span>
                    </div>
                    <div class="inputs">
                        <div class="portlet-input input-inline input-small ">
                            <div class="input-icon right">
                                <i class="icon-magnifier"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="חיפוש...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 329px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                        <div class="general-item-list">
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic" src="../../../assets/admin/layout4/img/user-icon.png">
                                        <a href="" class="item-name primary-link">איציק אסולין</a>
                                        <span class="item-label">לפני 3 שעות</span>
                                    </div>
                                </div>
                                <div class="item-body">
									אחלה אפליקציה! מעשירה, עניינית ושימושית מאוד. כל הכבוד, ושיהיה בהצלחה!
                                       </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic" src="../../../assets/admin/layout4/img/avatar3.jpg">
                                        <a href="" class="item-name primary-link">רמי בוכריס</a>
                                        <span class="item-label">לפני יומיים</span>
                                    </div>
                                      </div>
                                <div class="item-body">
									כל הנושאים היו קצרים וברורים. מעולה!
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic" src="../../../assets/admin/layout4/img/user-icon.png">
                                        <a href="" class="item-name primary-link">שלומית כהן</a>
                                        <span class="item-label">לפני יומיים</span>
                                    </div>
                                           </div>
                                <div class="item-body">
									היה נחמד אם בפנקס היה מופיע גם מידע על מוצרים חדשים. חוץ מזה אחלה אפליקציה, תודה.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    //Index.init();    
    //Tasks.initDashboardWidget();
</script>
<!-- BEGIN MAIN JS & CSS -->