<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Stack Chart Controls
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            <a href="#portlet-config" data-toggle="modal" class="config">
            </a>
            <a href="javascript:;" class="reload">
            </a>
            <a href="javascript:;" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div id="chart_5" style="height:350px;">
        </div>
        <div class="btn-toolbar">
            <div class="btn-group stackControls">
                <input type="button" class="btn blue" value="With stacking" />
                <input type="button" class="btn red" value="Without stacking" />
            </div>
            <div class="space5">
            </div>
            <div class="btn-group graphControls">
                <input type="button" class="btn" value="Bars" />
                <input type="button" class="btn" value="Lines" />
                <input type="button" class="btn" value="Lines with steps" />
            </div>
        </div>
    </div>
</div>