<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-green-haze hide"></i>
                    <span class="caption-subject font-green-haze bold uppercase">{{courseName}}</span>
                </div>

            </div>
            <div class="portlet-body" style="padding-bottom: 20px;">
                <div id="course-chart" style="height:350px;">
                </div>
            </div>
        </div>

    </div>
</div>

